html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 18px;
}

h1, h2, h3{
    font-family: 'Fugaz One', cursive;
    text-transform: uppercase;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 42px;
    color: #333;
    text-align: center;
    margin-bottom: 18px;
}

h2 + hr {
  height: 8px;
  width: 175px;
  margin-top: -35px;
  background: #04C2C9;
  border: none;
  margin: 15px auto 30px auto;
}

h3 {
    font-size: 30px;
    text-align: center;
    color: #333;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a, a:active, a:focus {
    text-decoration: none;
    outline: 0;
    border: 0;
    outline: 0;
    color:#000000;
}
p {
    line-height: 155%;
}

nav {
    position: fixed;
    width: 100%;
    padding-top: 15px;
    height: 72px;
    font-size: .8rem;
    letter-spacing: .420em;
    font-family: 'Poppins',Arial,Helvetica,sans-serif;
    font-weight: 700;
    color:#000000;
    background-color: #fff;
    padding-bottom:15px;
}

ul {
    margin: auto;
    text-align: center;
}

li {
    display: inline-block;
    line-height: 72px;
    height:84px;
}

.topNav {
    z-index: 3;
}

.topNavLinks {
    max-width: 900px;
}

#navLogo {
    position: absolute;
    left:50%;
    margin-left:-50px; 
}

#navLogo img {
    height: 100px;
}

.shrink:hover { 
  transform: scale(1.2); 
}

.shrink { 
  transition: all .5s ease-in-out; 
}

#back-circle {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    background-color: #fff;
    display: block;
    position: absolute;
    top: -10px;
    z-index: -1;
    left: -10px;
}

.topNav ul li {
    text-transform: uppercase;
    margin-right: 50px;
}

.topNav ul li:nth-child(3) {
    padding-left: 0;
    margin-left: 105px;
}

.topNav ul li:nth-child(2) {
    margin-right: 105px;
}

.topNav ul li:nth-child(1) {
    margin-left: 60px;
}

/* hr {
  height: .25rem;
  width: 115px;
  margin-top: -35px;
  background: #04C2C9;
  border: none;
  transition: .5s ease-in-out;
  margin-left: 7.45%;
}

.skills-nav:hover ~ hr {
    margin-left: 25.7%;
}

.about:hover ~ hr {
    margin-left: 62.2%;
}

.contact:hover ~ hr {
    margin-left: 80.1%;
}*/

#hamburger {
    display: none;
    font-size: 40px;
}

#hero-container {
    height: 400px;
    /*background-image: url('https://newevolutiondesigns.com/images/freebies/nature-hd-background-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    background-color: #333;
    padding-top: 119px;
    color: #fff;
    text-align: center;
    margin-bottom: 100px;
}

#hero-container img{
    height: 200px;
    margin: auto;
    position: relative;
    top: 50%;
    display: block;
    margin-top: -100px;
}

#hero-container #hero-text{
    position: relative;
    top: 33%;
}

.work-cont {
    margin: 10px auto 100px auto;

}

#mywork {
    margin-top: 130px;

}

#web-cont{
    background-image: url('../images/webwork.jpg');
}

#other-cont{
    background-image: url('../images/otherwork.jpg');
}

#web-cont, #other-cont{
    max-width: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
}

#web-cont {
    height: 400px;
}

#other-cont {
    height: 250px;
}

.port-buttons {
    margin: auto;
    position: relative;
    text-align: center;
}

.port-buttons a, .overlay a {
    padding: 15px 70px;
    background-color: #04C2C9;
    border: 3px solid #fff;
    position: relative;
    top: -10px;
    color: #fff;
}

/* ---- Skills Graph --- */


.skills .highlight-1 {
  animation-name: skillsA;
  animation: skillsA 2.5s cubic-bezier(0.17, 0.67, 0, 1);
}

#main {
  overflow: hidden;
  position: relative;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  margin-top: 150px;
}

section article.skills {
  width: 600px;
}
section article.skills p {
  z-index: 2;
  color: #fff;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  margin-top:18px;
  margin-bottom:18px;
}
section article.skills div span:nth-child(1) {
  z-index: -2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  height: 100%;
  width: 100%;
}
section article.skills div span:nth-child(2) {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #04C2C9;
  height: 100%;
}
section article.skills div:nth-child(1) span:nth-child(2) {
  width: 95%;
  animation-delay: 0;
}
section article.skills div:nth-child(2) span:nth-child(2) {
  width: 95%;
  animation-delay: 0.05s;
}
section article.skills div:nth-child(3) span:nth-child(2) {
  width: 60%;
  animation-delay: 0.1s;
}
section article.skills div:nth-child(4) span:nth-child(2) {
  width: 50%;
  animation-delay: 0.1s;
}
section article.skills div:nth-child(5) span:nth-child(2) {
  width: 95%;
  animation-delay: 0.15s;
}
section article.skills div:nth-child(6) span:nth-child(2) {
  width: 85%;
  animation-delay: 0.2s;
}
section article.skills div:nth-child(7) span:nth-child(2) {
  width: 75%;
  animation-delay: 0.25s;
}
section article.skills div:nth-child(8) span:nth-child(2) {
  width: 75%;
  animation-delay: 0.3s;
}
section article.skills div:nth-child(9) span:nth-child(2) {
  width: 85%;
  animation-delay: 0.35s;
}
section article.skills div:nth-child(10) span:nth-child(2) {
  width: 95%;
  animation-delay: 0.4s;
}
section article.skills div:nth-child(11) span:nth-child(2) {
  width: 95%;
  animation-delay: 0.45s;
}
section article.skills div:nth-child(12) span:nth-child(2) {
  width: 95%;
  animation-delay: 0.5s;
}
section article#bucket-list {
    width: 600px;
    text-align: center;
}

@keyframes skillsA {
  0% {
    left: -600px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

/* --- About Me Section --- */

#about-me {
  max-width: 900px;
  margin: 80px auto;
  padding: 60px 30px 90px 30px;
}

#about-me p {
  font-size: 20px;
  line-height: 35px;
  text-align: justify;
  margin-bottom: 15px;
}

#about-me p:nth-child(2){
  padding-top: 20px;
}

/* --- Contact Section --- */

#contact {
  background-color: #333;
  padding: 100px 60px 200px 60px;
}

#contact h2 {
  color: #eee;
}

#contact p {
  color: #eee;
  text-align: center;
  margin-bottom: 30px;
}

#form {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

#form input, textarea, button {
  width: 100%;
  padding: 12px 20px;
  margin: 10px auto;
  box-sizing: border-box;
  font-size: 15px;
  background-color: #000;
  border: none;
  border-radius: 3px;
  color: #fff;
}
#form input[name="submit"] {
  background-color: #04C2C9;
}
#form button {
  color: #fff;
  background-color: #04C2C9;
  width: 200px;
  margin: 10px auto;
  text-align: center;

}

::placeholder {
    color: #aaa;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #ccc;
}

.active a {
  border-bottom: 5px solid #04C2C9;
  padding-bottom: 5px;
}

#port-head {
    padding: 150px 20px 50px 20px;
    margin-bottom: 20px;
    background-color: #eee;
    text-align: center;
}

.container {
  max-width: 1100px;
  margin:auto;
}

.port-pieces {
  margin: auto;
  padding: 120px 20px;
}

.port-pieces:nth-child(even) {
  background-color: #eee;
}

.port-example {
  display: inline-block;
  width: 55%;
}

.port-example img{
  width: 100%;
  vertical-align: middle;
}

.port-explain {
  display: inline-block;
  width: 40%;
  text-align: left;
  vertical-align: middle;
}

.port-explain h2 {
  text-align: left;
}

.port-explain a {
  padding: 15px 45px;
  background-color: #04C2C9;
  margin-top: 22px;
  display: inherit;
  color: #fff;
}

#other-pieces {
  max-width: 888px;
  margin: 112px auto;
  font-size: 0;
  text-align: center;
}

.work-square {
  display: inline-block;
  width: 292px;
  text-align: center;
  height: 250px;
  font-size: 20px;
  box-sizing: border-box;
  background-color: black;
  overflow: hidden;
  position: relative;
}

.work-square img {
  width: 100%;
}

.work-square .tall {
  height: 100%;
  width: auto;
}

.work-square h2 {
  padding: 45px 5px;
  font-size: 33px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #eee;
}

.overlay:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  transition: 1s;
}

.popup {
    display: none; 
    position: fixed;
    z-index: 5;
    padding: 150px 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 70%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7); 
}

.popframe {
    background-color: #ededed;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 70%;
    /*height: 50vw;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    text-align: center;
    border-radius: 5px;
}

.popframe.shortpop {
  max-width: 700px;
}

.popframe.longpop {
  max-width: 700px;
}


@-webkit-keyframes animatetop {
    from {top: 50px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top: 50px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: black;
    float: right;
    font-size: 68px;
    font-weight: bold;
    line-height: 0;
}

.close:hover,
.close:focus {
    color: #04C2C9;
    text-decoration: none;
    cursor: pointer;
}

.pop-head {
    padding: 21px 16px;
    color: black;
}
.pop-head p {
  font-size: 17px;
  color: #000;
  padding-top: 10px;
}

.pop-head img {
  width: 80%;
  padding-top: 15px;
}


@media only screen and (max-width: 900px) {
    .topNavLinks {
        max-width: 640px;
    }
    nav {
    letter-spacing: .320em;
    }

    li {
        line-height: 50px;
        height:50px;
    }
    .topNav ul li:nth-child(3) {
        padding-left: 0;
        margin-left: 50px;
    }

    .topNav ul li:nth-child(2) {
        margin-right: 90px;
    }

    .topNav ul li:nth-child(1) {
        margin-left: 50px;
    }

    #navLogo {
        position: absolute;
        left:50%;
        margin-left:-25px; 
    }

    #navLogo img {
        height: 80px;
    }

    #back-circle {
        height: 100px;
        width: 100px;
    }

    nav {
        font-size: .7rem;
        height: 50px;
    }
    .topNav ul li {
        margin-right: 15px;
    }
    /* hr {
      height: .25rem;
      width: 85px;
      margin-top: -10px;
      margin-left: 11.2%;
    }

    .skills-nav:hover ~ hr {
        margin-left: 27.5%;
    }

    .about:hover ~ hr {
        margin-left: 63.95%;
    }

    .contact:hover ~ hr {
        margin-left: 80.1%;
    }*/
    h1 {
      font-size: 40px;
      }

    .port-example {
      width: 48%;
    }

    .port-explain {
      width: 48%;
    }
    .work-square {
      width: 28%;
      height: 180px;
    }

    .work-square h2 {
      line-height: 100px;
    }
    .port-buttons a, .overlay a {
      padding: 5px 30px;
    }
      #hero-container {
    height: 300px;
  }
  }
@media only screen and (max-width: 640px) {
    .topNavLinks {
        max-width: 440px;
    }
    nav {

    letter-spacing: .320em;
    }

    li {
        line-height: 50px;
        height:50px;
    }
    .topNav ul li:nth-child(3) {
        padding-left: 0;
        margin-left: 40px;
    }

    .topNav ul li:nth-child(2) {
        margin-right: 40px;
    }

    .topNav ul li:nth-child(1) {
        margin-left: 10px;
    }

    #navLogo {
        position: absolute;
        left:50%;
        margin-left:-25px; 
    }

    #navLogo img {
        height: 50px;
    }

    #back-circle {
        display: none;
    }

    nav {
        font-size: .6rem;
        height: 50px;
    }
    .topNav ul li {
        margin-right: 15px;
    }

    /* hr {
      height: .25rem;
      width: 75px;
      margin-top: -10px;
      margin-left: 1.7%;
    }

    .skills-nav:hover ~ hr {
        margin-left: 22.5%;
    }

    .about:hover ~ hr {
        margin-left: 58.5%;
    }

    .contact:hover ~ hr {
        margin-left: 79%;
    } */

    #hero-container #hero-text{
        top: 22%;
    }

    #main {
      padding: 20px;
    }
    section article.skills {
      width: 100%;
    }
    section article#bucket-list {
      width: 100%;
    }
    .port-example {
      width: 100%;
    }

  .port-explain {
    width: 80%;
    text-align: center;
    padding: 30px;
    margin: auto;
    display: block;
  }
  .port-explain h2 {
    text-align: center;
  }
   .work-square {
      width: 45%;
      height: 180px;
    }
    .work-square h2 {
    font-size: 30px;
    line-height: 100px;
  }
  .popframe {
      width: 90%;
  }
  .close {
    float: none;
  }

}

@media only screen and (max-width: 440px) {
    h1 {
    font-size: 12vw;
    }
    .topNav ul li{
        display: none;
    }
    #hamburger {
        display: inline-block;
        float:right;
        margin-right:10%;
        line-height: 50px;
    }

    #navLogo {
        position: absolute;
        left:10%;
        margin-left:0; 
    }

    nav {
        font-size: .8rem;
        background-color: #fff;
        padding-bottom: 20px;
    }

    .responsive ul li {
        display: block;
        width: 100%;
        clear: both;
        text-align: right;
        background-color: #fff;
    }

    .topNav ul li a{
        padding-right: 20px;
    }

    .topNav ul li:nth-child(3), .topNav ul li:nth-child(1) {
        margin-left: 0;
    }

    .topNav ul li:nth-child(2) {
        margin-right: 0x;
    }
     .work-square {
      height: 120px;
    }

    .work-square h2 {
      line-height: 70px;
    }

    .port-buttons a, .overlay a {
      padding: 5px 20px;
      font-size: 20px;
    }


    /* hr {
        display: none;
    }*/
}

/* * {
    border: 1px solid red !important;
    color: white !important;
    background-color: black !important;
}*/





