body {
  margin: 0;
  overflow: hidden;
}

.background {
  width: 100vw;
  height: 100vh;
  background: #3E1E68;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #E45A84;
  top: 11%;
  left: 23%;
  animation-duration: 12.1s;
  animation-delay: -10.2s;
  transform-origin: -8vw -7vh;
  box-shadow: -40vmin 0 12.4075113098vmin currentColor;
}
.background span:nth-child(2) {
  color: #FFACAC;
  top: 3%;
  left: 31%;
  animation-duration: 11.4s;
  animation-delay: -0.8s;
  transform-origin: -3vw 4vh;
  box-shadow: -40vmin 0 9.8313096479vmin currentColor;
}
.background span:nth-child(3) {
  color: #FFACAC;
  top: 44%;
  left: 91%;
  animation-duration: 11.8s;
  animation-delay: -7.6s;
  transform-origin: 15vw 20vh;
  box-shadow: -40vmin 0 10.550164592vmin currentColor;
}
.background span:nth-child(4) {
  color: #FFACAC;
  top: 86%;
  left: 1%;
  animation-duration: 12.5s;
  animation-delay: -14.3s;
  transform-origin: -20vw 7vh;
  box-shadow: 40vmin 0 11.9166017687vmin currentColor;
}
.background span:nth-child(5) {
  color: #583C87;
  top: 8%;
  left: 32%;
  animation-duration: 16s;
  animation-delay: -0.2s;
  transform-origin: 0vw -16vh;
  box-shadow: -40vmin 0 13.8523220698vmin currentColor;
}
.background span:nth-child(6) {
  color: #FFACAC;
  top: 68%;
  left: 7%;
  animation-duration: 13.4s;
  animation-delay: -7s;
  transform-origin: 0vw 16vh;
  box-shadow: 40vmin 0 8.3669861961vmin currentColor;
}
.background span:nth-child(7) {
  color: #E45A84;
  top: 46%;
  left: 71%;
  animation-duration: 15.9s;
  animation-delay: -3.7s;
  transform-origin: 22vw -17vh;
  box-shadow: -40vmin 0 8.8313722385vmin currentColor;
}
.background span:nth-child(8) {
  color: #FFACAC;
  top: 70%;
  left: 59%;
  animation-duration: 11.1s;
  animation-delay: -8.9s;
  transform-origin: 15vw -9vh;
  box-shadow: -40vmin 0 5.5061698798vmin currentColor;
}
.background span:nth-child(9) {
  color: #E45A84;
  top: 92%;
  left: 16%;
  animation-duration: 12.3s;
  animation-delay: -7.5s;
  transform-origin: -22vw 14vh;
  box-shadow: -40vmin 0 5.2013042667vmin currentColor;
}
.background span:nth-child(10) {
  color: #583C87;
  top: 11%;
  left: 82%;
  animation-duration: 10.6s;
  animation-delay: -13.6s;
  transform-origin: 0vw -3vh;
  box-shadow: 40vmin 0 13.61149918vmin currentColor;
}
.background span:nth-child(11) {
  color: #FFACAC;
  top: 23%;
  left: 48%;
  animation-duration: 12.4s;
  animation-delay: -13.3s;
  transform-origin: 22vw -16vh;
  box-shadow: -40vmin 0 10.0916428032vmin currentColor;
}
.background span:nth-child(12) {
  color: #FFACAC;
  top: 39%;
  left: 86%;
  animation-duration: 13.7s;
  animation-delay: -1.2s;
  transform-origin: 19vw 8vh;
  box-shadow: 40vmin 0 7.5020880785vmin currentColor;
}
.background span:nth-child(13) {
  color: #583C87;
  top: 58%;
  left: 33%;
  animation-duration: 15.3s;
  animation-delay: -8.8s;
  transform-origin: -8vw -3vh;
  box-shadow: 40vmin 0 9.3444451931vmin currentColor;
}
.background span:nth-child(14) {
  color: #FFACAC;
  top: 81%;
  left: 100%;
  animation-duration: 16s;
  animation-delay: -9.2s;
  transform-origin: -23vw -2vh;
  box-shadow: -40vmin 0 12.5106003702vmin currentColor;
}
.background span:nth-child(15) {
  color: #E45A84;
  top: 43%;
  left: 25%;
  animation-duration: 13s;
  animation-delay: -5.4s;
  transform-origin: 25vw 13vh;
  box-shadow: -40vmin 0 6.5297673309vmin currentColor;
}
.background span:nth-child(16) {
  color: #E45A84;
  top: 85%;
  left: 20%;
  animation-duration: 10.5s;
  animation-delay: -1.5s;
  transform-origin: 15vw 24vh;
  box-shadow: 40vmin 0 9.4549177831vmin currentColor;
}
.background span:nth-child(17) {
  color: #E45A84;
  top: 38%;
  left: 4%;
  animation-duration: 11.6s;
  animation-delay: -7.3s;
  transform-origin: 8vw 22vh;
  box-shadow: 40vmin 0 7.5469145218vmin currentColor;
}
.background span:nth-child(18) {
  color: #E45A84;
  top: 31%;
  left: 54%;
  animation-duration: 11.2s;
  animation-delay: -10s;
  transform-origin: 14vw -8vh;
  box-shadow: -40vmin 0 9.5612311514vmin currentColor;
}
.background span:nth-child(19) {
  color: #FFACAC;
  top: 73%;
  left: 39%;
  animation-duration: 12.5s;
  animation-delay: -8.8s;
  transform-origin: 13vw 10vh;
  box-shadow: 40vmin 0 8.4515456416vmin currentColor;
}
.background span:nth-child(20) {
  color: #E45A84;
  top: 38%;
  left: 4%;
  animation-duration: 13.7s;
  animation-delay: -0.6s;
  transform-origin: 20vw -21vh;
  box-shadow: 40vmin 0 10.2966510394vmin currentColor;
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}
