

.background {
  width: 100%;
  height: 520px;
  overflow: hidden;
  position: absolute;
  top: 100px;
  background-color: #333333;
}

.background span {
  width: 1px;
  height: 40vmin;
  background-color: #666666;
  border-radius: 20vmin;
  padding: 40px;
  background-clip:content-box; /* <- key point*/
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.background span:nth-child(1) {
  color: #04C2C9;
  top: -11%;
  left: 2%;
  animation-duration: 42.1s;
  animation-delay: -10.2s;
  transform-origin: -8vw -7vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(2) {
  color: #FFACAC;
  top: -3%;
  left: 4%;
  animation-duration: 41.4s;
  animation-delay: -0.8s;
  transform-origin: -3vw 4vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(3) {
  color: #FFACAC;
  top: -44%;
  left: 6%;
  animation-duration: 41.8s;
  animation-delay: -7.6s;
  transform-origin: 15vw 20vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(4) {
  color: #FFACAC;
  top: -86%;
  left: 6%;
  animation-duration: 42.5s;
  animation-delay: -14.3s;
  transform-origin: -20vw 7vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(5) {
  color: #583C87;
  top: -8%;
  left: 10%;
  animation-duration: 46s;
  animation-delay: -0.2s;
  transform-origin: 0vw -16vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(6) {
  color: #FFACAC;
  top: -68%;
  left: 12%;
  animation-duration: 43.4s;
  animation-delay: -7s;
  transform-origin: 0vw 16vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(7) {
  color: #E45A84;
  top: -46%;
  left: 14%;
  animation-duration: 45.9s;
  animation-delay: -3.7s;
  transform-origin: 22vw -17vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(8) {
  color: #FFACAC;
  top: -70%;
  left: 16%;
  animation-duration: 41.1s;
  animation-delay: -8.9s;
  transform-origin: 15vw -9vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(9) {
  color: #E45A84;
  top: -92%;
  left: 18%;
  animation-duration: 42.3s;
  animation-delay: -7.5s;
  transform-origin: -22vw 14vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(10) {
  color: #583C87;
  top: -11%;
  left: 20%;
  animation-duration: 40.6s;
  animation-delay: -13.6s;
  transform-origin: 0vw -3vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(11) {
  color: #FFACAC;
  top: -23%;
  left: 22%;
  animation-duration: 42.4s;
  animation-delay: -13.3s;
  transform-origin: 22vw -16vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(12) {
  color: #FFACAC;
  top: -39%;
  left: 24%;
  animation-duration: 43.7s;
  animation-delay: -1.2s;
  transform-origin: 19vw 8vh;
}
.background span:nth-child(13) {
  color: #583C87;
  top: -58%;
  left: 26%;
  animation-duration: 45.3s;
  animation-delay: -8.8s;
  transform-origin: -8vw -3vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(14) {
  color: #FFACAC;
  top: -81%;
  left: 28%;
  animation-duration: 46s;
  animation-delay: -9.2s;
  transform-origin: -23vw -2vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(15) {
  color: #E45A84;
  top: -43%;
  left: 30%;
  animation-duration: 43s;
  animation-delay: -5.4s;
  transform-origin: 25vw 13vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(16) {
  color: #E45A84;
  top: -85%;
  left: 32%;
  animation-duration: 40.5s;
  animation-delay: -1.5s;
  transform-origin: 15vw 24vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(17) {
  color: #E45A84;
  top: -38%;
  left: 34%;
  animation-duration: 41.6s;
  animation-delay: -7.3s;
  transform-origin: 8vw 22vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(18) {
  color: #E45A84;
  top: -31%;
  left: 36%;
  animation-duration: 41.2s;
  animation-delay: -10s;
  transform-origin: 14vw -8vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(19) {
  color: #FFACAC;
  top: -73%;
  left: 38%;
  animation-duration: 42.5s;
  animation-delay: -8.8s;
  transform-origin: 13vw 10vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(20) {
  color: #E45A84;
  top: -98%;
  left: 40%;
  animation-duration: 43.7s;
  animation-delay: -0.6s;
  transform-origin: 20vw -21vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(21) {
  color: #04C2C9;
  top: -4%;
  left: 42%;
  animation-duration: 42.1s;
  animation-delay: -10.2s;
  transform-origin: -8vw -7vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(22) {
  color: #FFACAC;
  top: -13%;
  left: 44%;
  animation-duration: 41.4s;
  animation-delay: -0.8s;
  transform-origin: -3vw 4vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(23) {
  color: #FFACAC;
  top: -34%;
  left: 46%;
  animation-duration: 41.8s;
  animation-delay: -7.6s;
  transform-origin: 15vw 20vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(24) {
  color: #FFACAC;
  top: -6%;
  left: 48%;
  animation-duration: 42.5s;
  animation-delay: -14.3s;
  transform-origin: -20vw 7vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(25) {
  color: #583C87;
  top: -81%;
  left: 50%;
  animation-duration: 46s;
  animation-delay: -0.2s;
  transform-origin: 0vw -16vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(26) {
  color: #FFACAC;
  top: -56%;
  left: 52%;
  animation-duration: 43.4s;
  animation-delay: -7s;
  transform-origin: 0vw 16vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(27) {
  color: #E45A84;
  top: -22%;
  left: 54%;
  animation-duration: 45.9s;
  animation-delay: -3.7s;
  transform-origin: 22vw -17vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(28) {
  color: #FFACAC;
  top: -40%;
  left: 56%;
  animation-duration: 41.1s;
  animation-delay: -8.9s;
  transform-origin: 15vw -9vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(29) {
  color: #E45A84;
  top: -58%;
  left: 58%;
  animation-duration: 42.3s;
  animation-delay: -7.5s;
  transform-origin: -22vw 14vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(30) {
  color: #583C87;
  top: -19%;
  left: 60%;
  animation-duration: 40.6s;
  animation-delay: -13.6s;
  transform-origin: 0vw -3vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(31) {
  color: #FFACAC;
  top: -29%;
  left: 62%;
  animation-duration: 42.4s;
  animation-delay: -13.3s;
  transform-origin: 22vw -16vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(32) {
  color: #FFACAC;
  top: -29%;
  left: 64%;
  animation-duration: 43.7s;
  animation-delay: -1.2s;
  transform-origin: 19vw 8vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(33) {
  color: #583C87;
  top: -68%;
  left: 66%;
  animation-duration: 45.3s;
  animation-delay: -8.8s;
  transform-origin: -8vw -3vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(34) {
  color: #FFACAC;
  top: -71%;
  left: 68%;
  animation-duration: 46s;
  animation-delay: -9.2s;
  transform-origin: -23vw -2vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(35) {
  color: #E45A84;
  top: -63%;
  left: 70%;
  animation-duration: 43s;
  animation-delay: -5.4s;
  transform-origin: 25vw 13vh;
}
.background span:nth-child(36) {
  color: #E45A84;
  top: -75%;
  left: 72%;
  animation-duration: 40.5s;
  animation-delay: -1.5s;
  transform-origin: 15vw 24vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(37) {
  color: #E45A84;
  top: -88%;
  left: 74%;
  animation-duration: 41.6s;
  animation-delay: -7.3s;
  transform-origin: 8vw 22vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(38) {
  color: #E45A84;
  top: -51%;
  left: 76%;
  animation-duration: 41.2s;
  animation-delay: -10s;
  transform-origin: 14vw -8vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(39) {
  color: #FFACAC;
  top: -43%;
  left: 78%;
  animation-duration: 42.5s;
  animation-delay: -8.8s;
  transform-origin: 13vw 10vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(40) {
  color: #E45A84;
  top: -28%;
  left: 80%;
  animation-duration: 43.7s;
  animation-delay: -0.6s;
  transform-origin: 20vw -21vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(41) {
  color: #04C2C9;
  top: -11%;
  left: 82%;
  animation-duration: 42.1s;
  animation-delay: -10.2s;
  transform-origin: -8vw -7vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(42) {
  color: #FFACAC;
  top: -22%;
  left: 84%;
  animation-duration: 41.4s;
  animation-delay: -0.8s;
  transform-origin: -3vw 4vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(43) {
  color: #FFACAC;
  top: -33%;
  left: 86%;
  animation-duration: 41.8s;
  animation-delay: -7.6s;
  transform-origin: 15vw 20vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(44) {
  color: #FFACAC;
  top: -2%;
  left: 88%;
  animation-duration: 42.5s;
  animation-delay: -14.3s;
  transform-origin: -20vw 7vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(45) {
  color: #583C87;
  top: -55%;
  left: 90%;
  animation-duration: 46s;
  animation-delay: -0.2s;
  transform-origin: 0vw -16vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(46) {
  color: #FFACAC;
  top: -86%;
  left: 92%;
  animation-duration: 43.4s;
  animation-delay: -7s;
  transform-origin: 0vw 16vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(47) {
  color: #E45A84;
  top: -37%;
  left: 94%;
  animation-duration: 45.9s;
  animation-delay: -3.7s;
  transform-origin: 22vw -17vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(48) {
  color: #FFACAC;
  top: -40%;
  left: 96%;
  animation-duration: 41.1s;
  animation-delay: -8.9s;
  transform-origin: 15vw -9vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(49) {
  color: #E45A84;
  top: -28%;
  left: 98%;
  animation-duration: 42.3s;
  animation-delay: -7.5s;
  transform-origin: -22vw 14vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(50) {
  color: #583C87;
  top: -29%;
  left: 99%;
  animation-duration: 40.6s;
  animation-delay: -13.6s;
  transform-origin: 0vw -3vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(51) {
  color: #FFACAC;
  top: -25%;
  left: 28%;
  animation-duration: 42.4s;
  animation-delay: -13.3s;
  transform-origin: 22vw -16vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(52) {
  color: #FFACAC;
  top: -21%;
  left: 20%;
  animation-duration: 43.7s;
  animation-delay: -1.2s;
  transform-origin: 19vw 8vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(53) {
  color: #583C87;
  top: -61%;
  left: 43%;
  animation-duration: 45.3s;
  animation-delay: -8.8s;
  transform-origin: -8vw -3vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(54) {
  color: #FFACAC;
  top: -61%;
  left: 70%;
  animation-duration: 46s;
  animation-delay: -9.2s;
  transform-origin: -23vw -2vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(55) {
  color: #E45A84;
  top: -53%;
  left: 55%;
  animation-duration: 43s;
  animation-delay: -5.4s;
  transform-origin: 25vw 13vh;
}
.background span:nth-child(56) {
  color: #E45A84;
  top: -22%;
  left: 77%;
  animation-duration: 40.5s;
  animation-delay: -1.5s;
  transform-origin: 15vw 24vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(57) {
  color: #E45A84;
  top: -81%;
  left: 49%;
  animation-duration: 41.6s;
  animation-delay: -7.3s;
  transform-origin: 8vw 22vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(58) {
  color: #E45A84;
  top: -59%;
  left: 22%;
  animation-duration: 41.2s;
  animation-delay: -10s;
  transform-origin: 14vw -8vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(59) {
  color: #FFACAC;
  top: -30%;
  left: 91%;
  animation-duration: 42.5s;
  animation-delay: -8.8s;
  transform-origin: 13vw 10vh;
  animation-timing-function:ease-in-out;
}
.background span:nth-child(60) {
  color: #E45A84;
  top: -18%;
  left: 73%;
  animation-duration: 43.7s;
  animation-delay: -0.6s;
  transform-origin: 20vw -21vh;
  animation-timing-function:ease-in-out;
}

.background span:hover {
  background-color: #04C2C9;
}

@keyframes move {
  0% {
    transform: translate(0,0);
    -webkit-transform: translate(0,0); 
    -o-transform: translate(0,0); 
    -moz-transform: translate(0,0); 
  }
    50% {
    transform: translate(0,450px);
    -webkit-transform: translate(0,450px); 
    -o-transform: translate(0,450px); 
    -moz-transform: translate(0,450px); 
  }
  100% {
    transform: translate(0,0);
    -webkit-transform: translate(0,0); 
    -o-transform: translate(0,0); 
    -moz-transform: translate(0,0); 
  }

}
