article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none
}


.white-bg .mainNav .line {
    background: #313131
}

.mainNav {
    position: absolute;
    z-index: 9;
    width: 100%;
    top: 0;
    padding-top: 20px;
    height: 84px;
    font-size: 10px;
    font-size: 1.0rem;
    font-family: "brandon-grotesque", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700
}

.darkNav a {
    color: #313131
}

.darkNav .logo .target {
    border-color: #313131
}

.black-bg>.lightNav a>.line {
    background: #FFF
}

.white-bg>.lightNav a>.line {
    background: #FFF
}

.lightNav a {
    color: #FFF
}

.lightNav .logo .target {
    border-color: #FFF
}

.lightNav .round-cta.hover:hover .target {
    border: 5px solid rgba(255, 255, 255, 1)
}

.js .mainNav {
    top: -100px
}

.mainNav .logo {
    margin: auto;
    width: 64px;
    height: 64px
}

.mainNav .logo span {
    margin: auto;
    width: 64px;
    height: 64px;
    font-size: 25px;
    font-size: 2.5rem;
    padding-left: 2px
}

.mainNav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -55px
}

.mainNav ul li {
    text-transform: uppercase;
    letter-spacing: .480em;
    margin-right: 30px
}

.mainNav ul li:last-child {
    margin-right: 8px
}

.mainNav ul li a {
    display: inline-block;
    line-height: 50px;
    height: 50px;
    position: relative
}

.mainNav ul li:nth-child(2) {
    margin-right: 60px
}

.mainNav ul li:nth-child(3) {
    padding-left: 0;
    margin-left: 60px
}

.mainNav ul li a .line {
    height: 1px;
    display: block;
    width: 0;
    margin-top: -12px;
    margin-left: 50%
}

.mainNav ul li .hover:hover .line,
.mainNav ul li .selected .line {
    width: 97%;
    margin-left: -1px
}

.page-nav {
    z-index: 99999999;
    right: 0
}

.page-nav a {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #FFF;
    line-height: 50px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

.sticky .logo {
    margin-top: -9px
}

.sticky .logo .target {
    border: 0;
    display: none
}

.white-bg>.sticky .logo .target {
    border-color: #313131
}

.masonry .item {
    width: 25%;
    height: auto;
    margin-bottom: 30px;
    padding-right: 15px;
    padding-left: 15px
}

.masonry .item a {
    outline: 0;
    border: 0
}

.masonry .item.item2 {
    width: 50%
}

.masonry .item.item3 {
    width: 50%
}

.masonry .intro-b {
    background: #FFF;
    padding: 30px
}

.no-js .masonry {
    *zoom: 1
}

.no-js .masonry .item {
    float: left
}

.credits .item {
    width: 33.333333%;
    text-align: center;
    margin: 20px 0
}

.sticky ul li a .line {
    margin-top: -15px
}

.white-bg>.sticky a>.line {
    background: #313131
}

.js .wc-nav .littleTitles-After ul .line {
    display: block;
    margin: auto;
    width: 1px;
    height: 30px;
    background: rgba(255, 255, 255, 0.30)
}

.js .wc-nav .littleTitles-Before ul .line {
    display: block;
    margin: auto;
    width: 1px;
    height: 30px;
    background: rgba(255, 255, 255, 0.30)
}

@media only screen and (max-width:1440px) {
    .masonry .item {
        width: 33.33333%
    }
}

@media only screen and (max-width:800px) {
    .cl3 {
        width: 50%
    }
    .sectionPadding1 {
        padding: 60px 60px 0 60px
    }
    .sectionMargin1 {
        margin: 60px 60px 0 60px
    }
    .bottomMargin {
        margin-bottom: 60px
    }
    .topMargin {
        margin-top: 60px
    }
    .bottomPadding {
        padding-bottom: 60px
    }
    .scroll-top {
        bottom: 15px;
        right: 15px
    }
    .work-carousel {
        text-align: center;
        margin-top: 0
    }
    .work-carousel h2 {
        font-size: 50px;
        font-size: 5.0rem;
        line-height: 50px
    }
    .page-nav {
        display: none
    }
    .hero {
        height: auto;
        margin-top: 0
    }
    .hero .wrap {
        padding-top: 0
    }
    .h1-intro h1 {
        font-size: 40px;
        font-size: 4.0rem;
        line-height: 50px;
        line-height: 5rem
    }
    .h1-intro br {
        display: none
    }
    .sticky-text .cl3 {
        width: 100%
    }
    .sticky-text .cl2-3 {
        width: 100%
    }
    .sticky-text .intro-b {
        padding-bottom: 20px;
        position: static
    }
    .sticky-text .intro-b {
        padding-right: 0
    }
    .awards-a h2 {
        padding-bottom: 50px
    }
    .awards-a {
        text-align: center
    }
    .awards-a .item {
        text-align: left;
        width: 100%;
        display: -webkit-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-align-items: flex-start;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }
    .awards-a img {
        width: 50px;
        height: auto
    }
    .awards-a .item p {
        margin: 0;
        max-width: none;
        width: calc(100%-50px);
        padding: 10px 5px
    }
    .masonry {
        margin-left: 45px;
        margin-right: 45px
    }
    .masonry .item {
        width: 50%
    }
}

@media only screen and (max-width:670px) {
    .sectionPadding1 {
        padding: 40px 40px 0 40px
    }
    .sectionMargin1 {
        margin: 40px 40px 0 40px
    }
    .bottomMargin {
        margin-bottom: 40px
    }
    .topMargin {
        margin-top: 40px
    }
    .bottomPadding {
        padding-bottom: 40px
    }
    h1 {
        font-size: 40px;
        font-size: 4.0rem;
        line-height: 4.0rem
    }
    h2 {
        font-size: 20px;
        font-size: 2.0rem
    }
    .scroll-top {
        display: none
    }
    .mainNav ul li {
        letter-spacing: .120em;
        margin-right: 20px
    }
    .mainNav {
        position: fixed;
        height: 50px;
        top: 0;
        overflow: hidden;
        padding-top: 0
    }
    .mainNav .logo {
        margin-top: -9px;
        width: 30px
    }
    .mainNav .logo .icon-logo {
        width: 30px
    }
    .mainNav .logo .target {
        border: 0;
        display: none
    }
    .mainNav ul li:nth-child(2) {
        margin-right: 40px
    }
    .mainNav ul li:nth-child(3) {
        padding-left: 0;
        margin-left: 40px
    }
    .mainNav ul li a .line {
        margin: -15px auto 0 auto
    }
    .mainNav {
        background: url("/img/gray-texture.png") #f8f8f8;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        z-index: 12
    }
    .photography-page .mainNav {
        background: #313131;
        border-bottom: 0
    }
    .white-bg>.lightNav a>.line {
        background: #313131
    }
    .white-bg>.lightNav a {
        color: #313131
    }
    .white-bg>.lightNav .logo .target {
        border-color: #313131
    }
    .work-page>.lightNav a>.line {
        background: #313131
    }
    .work-page a {
        color: #313131
    }
    .work-page .logo .target {
        border-color: #313131
    }
    .hero {
        height: auto;
        margin-top: 50px
    }
    .hero .wrap {
        padding-top: 0
    }
    .no-js .hero img {
        min-width: 600px
    }
    .hero .close {
        display: none;
        visibility: hidden
    }
    .work-carousel {
        margin-top: 50px
    }
    .work-carousel h2 {
        font-size: 40px;
        font-size: 4.0rem;
        line-height: 40px
    }
    .work-carousel p {
        display: none
    }
    .work-carousel .project img {
        min-width: 320px;
        display: block
    }
    .js .work-carousel .description {
        display: block
    }
    .js .wc-nav {
        display: none;
        left: -100%
    }
    .js .work-carousel .cta {
        display: none;
        visibility: hidden
    }
    .h1-intro h1 {
        font-size: 30px;
        font-size: 3.0rem;
        line-height: 40px;
        line-height: 4rem
    }
    .browser .top {
        height: 20px
    }
    .browser .search {
        height: 8px;
        margin-top: 6px;
        margin-right: 6px;
        width: calc(100% - 60px)
    }
    .browser .dots {
        width: 30px;
        height: 20px
    }
    .browser .dots .dot {
        height: 5px;
        width: 5px;
        margin-top: 8px;
        margin-left: 5px
    }
    .contact-banner h2 {
        font-size: 35px;
        font-size: 3.5rem
    }
    .contacts a {
        display: block;
        font-size: 22px;
        font-size: 2.2rem;
        letter-spacing: .06em
    }
    .masonry {
        margin-left: 33px;
        margin-right: 33px
    }
    .masonry .item {
        padding-right: 7px;
        padding-left: 7px;
        margin-bottom: 14px
    }
    .masonry .item.item3 {
        width: 100%
    }
    .credits>div {
        max-width: 440px
    }
    .credits .item {
        margin: 15px 0
    }
    .credits h3 {
        margin-bottom: 10px;
        font-size: 14px;
        font-size: 1.4rem
    }
    .credits img {
        width: 100px
    }
    .next-prev a {
        color: #FFF;
        padding: 20px
    }
    .next-prev li:first-child span:first-child {
        text-align: left;
        margin-left: 20px;
        margin-top: 5px
    }
    .next-prev li:last-child span:first-child {
        text-align: right;
        margin-right: 20px;
        margin-top: 5px
    }
    .next-prev span:first-child {
        font-size: 10px;
        padding-bottom: 4px;
        opacity: 1
    }
    .next-prev .arrow {
        font-size: 10px;
        left: 20px;
        opacity: 1
    }
    .next-prev li:last-child .arrow {
        right: 20px
    }
    .next-prev a:hover .arrow {
        opacity: 1
    }
    .next-prev .title {
        display: none
    }
    .module-404 {
        text-align: center;
        padding-top: 100px
    }
}

@media only screen and (max-width:500px) {
    .sectionPadding1 {
        padding: 30px 30px 0 30px
    }
    .sectionMargin1 {
        margin: 30px 30px 0 30px
    }
    .bottomMargin {
        margin-bottom: 30px
    }
    .topMargin {
        margin-top: 30px
    }
    .bottomPadding {
        padding-bottom: 30px
    }
    h1 {
        font-size: 30px;
        font-size: 3.0rem;
        line-height: 3.0rem
    }
    h2 {
        font-size: 16px;
        font-size: 1.6rem
    }
    .responsive .cl1 {
        width: calc(75% - 15px)
    }
    .responsive .cl2 {
        width: 25.2%
    }
    .vertical-line {
        display: block;
        width: 1px;
        margin: 15px auto;
        height: 20px;
        opacity: .15
    }
    .cl3 {
        width: 100%
    }
    .cl2 {
        width: 100%
    }
    .cl2-3 {
        width: 100%
    }
    .cta {
        padding: 2px 2px 2px 2px;
        position: relative;
        display: inline-block;
        margin-top: 20px
    }
    .cta span {
        font-family: "brandon-grotesque", Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        font-size: 10px;
        font-size: 1.0rem;
        padding: 0 20px;
        height: 40px;
        display: inline-block
    }
    .cta .target {
        position: absolute;
        height: 44px;
        width: 100%;
        z-index: 1;
        display: block;
        margin-top: -2px;
        margin-left: -2px
    }
    .mainNav ul {
        width: 320px
    }
    .mainNav ul li {
        letter-spacing: .02em;
        margin-right: 10px
    }
    .mainNav ul li:nth-child(2) {
        margin-right: 25px
    }
    .mainNav ul li:nth-child(3) {
        padding-left: 0;
        margin-left: 25px
    }
    .mainNav ul li:last-child {
        margin-right: 10px
    }
    .hero {
        height: auto;
        text-align: center
    }
    .hero .wrap {
        padding-top: 0
    }
    .hero h1 {
        padding-bottom: 10px
    }
    .no-js. hero img {
        min-width: 400px
    }
    .work-carousel h2 {
        font-size: 30px;
        font-size: 3.0rem;
        line-height: 30px
    }
    .awards-b h2 {
        font-size: 35px;
        font-size: 3.5rem
    }
    .awards-b h3 {
        font-size: 20px;
        font-size: 2.0rem
    }
    .awards-b ul li {
        letter-spacing: .06em
    }
    .intro-a p {
        width: 100%
    }
    .intro-a .horizontal-line {
        margin: 10px auto
    }
    .intro-b p {
        width: 100%;
        max-width: 800px
    }
    .intro-b .horizontal-line {
        margin: 10px 0
    }
    .sticky-text .intro-b {
        padding-bottom: 10px
    }
    .skills p,
    .skills .horizontal-line {
        text-align: center;
        margin: 20px auto
    }
    .contact-banner h2 {
        font-size: 28px;
        font-size: 2.8rem
    }
    .awards-a h2 {
        padding-bottom: 30px
    }
    .awards-a .item p {
        margin: 0;
        max-width: none;
        width: calc(100% - 70px);
        padding: 10px 5px
    }
    .contacts h1 {
        font-size: 38px;
        font-size: 3.8rem;
        line-height: 4.8rem
    }
    .contacts a {
        display: block;
        font-size: 18px;
        font-size: 1.8rem;
        letter-spacing: .06em
    }
    .masonry {
        margin-left: 23px;
        margin-right: 23px
    }
    .js .wc-nav .titles {
        height: 65px;
        font-size: 28px;
        font-size: 2.8rem
    }
    .js .wc-nav .titles ul li a {
        line-height: 60px;
        height: 60px;
        padding-bottom: 100px
    }
    .js .wc-nav .littleTitles-After {
        bottom: 30px
    }
    .js .wc-nav .littleTitles-Before {
        top: 140px
    }
    .credits>div {
        max-width: 280px
    }
    .credits .item {
        margin: 10px 0
    }
    .credits h3 {
        margin-bottom: 10px;
        font-size: 14px;
        font-size: 1.4rem
    }
    .credits ul {
        color: #7a7a7a;
        font-size: 12px;
        font-size: 1.2rem
    }
    .credits img {
        width: 65px
    }
    .next-prev a {
        padding: 15px
    }
    .next-prev span:first-child {
        font-size: 8px;
        font-size: .8rem;
        padding-bottom: 4px
    }
    .next-prev .arrow {
        left: 15px
    }
    .next-prev li:last-child .arrow {
        right: 15px
    }
}

@media print,
(-webkit-min-device-pixel-ratio:1.25),
(min-resolution:120dpi) {
    .photo-carousel figure {
        background-size: 40px
    }
}

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%
}

.hidden {
    display: none!important;
    visibility: hidden
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto
}

.invisible {
    visibility: hidden
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}

.clearfix:after {
    clear: both
}

.clearfix {
    *zoom: 1
}

.white {
    color: #FFF
}

.ul-nostyle {
    padding: 0;
    margin: auto;
    list-style: none
}

.maxWidth {
    width: 100%
}

.maxHeight {
    height: 100%
}

.floatL {
    float: left
}

.floatR {
    float: right
}

.relative {
    position: relative
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.overflowHidden {
    overflow: hidden
}

.upperCase {
    text-transform: uppercase
}

.vertical-Center {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.css3Animate {
    -webkit-transition: all .3s ease-in-out .001s;
    transition: all .3s ease-in-out .001s;
    -moz-transform: all .3s ease-in-out .001s
}

.alpha0 {
    opacity: 0
}